
	<div class="inicioPage">			
		<h1>Servicios IT</h1>
			<div class="service">
				
				<article>
					<h3>Aplicaciones Web</h3>
					<h5>Desarrollos a Medida</h5>
					<figure>
						<img src="http://themadrid.cl/static/media/img/Applications.png" width="100" title="aplicaciones" alt="Desarrollo web" />
					</figure>
					<p>Crean sistemas a pequeñas, medianas y grandes empresas. Adaptada a sus especifiaciones y requisitos. <a href="/servicios/aplicaciones" title="Leer mas soluciones">Leer más.</a></p>
				</article>
			</div>

			<div class="service">
				
				<article>
					<h3>Diseños Web</h3>
					<h5>SEO Marketing</h5>
					<figure>
						<img src="http://themadrid.cl/static/media/img/Sites.png" width="100" title="Diseño web" alt="SEO y marketing" />
					</figure>
					<p>Estamos a la vanguardia de las tecnologías y posicionamos el proyecto en los primeros resultados de los buscadores mas importantes. <a href="/servicios/marketing" title="Leer sobre marketing">Leer más.</a></p>
				</article>
			</div>

			<div class="service">
				
				<article>
					<h3>Mantenciones</h3>
					<h5>Mantención a su Sistema</h5>
					<figure>
						<img src="http://themadrid.cl/static/media/img/Developer_Alternate.png" width="100" title="Mantencion" alt="Mantenciones a sistemas web" />
					</figure>
					<p>Soporte técnico según las necesidades que tenga su empresa. <a href="/servicios/mantencion" title="Leer mas para hacer mantenciones">Leer más.</a></p>
				</article>
			</div>

			<div class="service">
				
				<article>
					<h3>¿ Tienes una Idea ?</h3>
					<h5>Soluciones IT</h5>
					<figure>
						<img src="http://themadrid.cl/static/media/img/Developer.png" width="100" title="Ideas" alt="Soluciones TI" />
					</figure>
					<p>Desarrollo de app en SmartPhones, Tablet y Desktop. Vea su proyecto desde cualquier dispositivo, en donde se encuentre. <a href="/servicios/solucion" title="Leer las soluciones">Leer más.</a></p>
				</article>
			</div>

			<hr />	

			<div class="onProcess">
				<h2>Actualmente desarrollando</h2>
				<figure>
					<div>
						<div>
							<div>
								<img id="proyectImage" src="http://themadrid.cl/static/media/img/fscurtis.png" width="200" height="100" alt="Proyecto Fscurtis" />
							</div>
							
							<p class="nameProyect">Fscurtis</p>
							<p class="corporation">Fscurtis</p>
						</div>
					</div>
				</figure>

				<figure>
					<div>
						<div>
							<div>
								<img id="proyectImage" src="http://themadrid.cl/static/media/img/logo.png" width="200" height="100" alt="Proyecto Personal" />
							</div>
							
							<p class="nameProyect">Personal</p>
							<p class="corporation">Madrid</p>
						</div>
					</div>
				</figure>
			</div>

			<hr />

			<span>
				<a href="/contacto#formularioContacto" title="Contacto">¿Tienes una idea? ¡Contáctame!</a>
			</span>
	</div>
	