
	<div class="inicioPage">			
			<div class="service">
				
				<article>
					<h3>Aplicaciones Web</h3>
					<h5>Desarrollos a Medida</h5>
					<figure>
						<img src="/media/img/Applications.png" width="100" />
					</figure>
					<p>Soluciones TI a pequeñas, medianas y grandes empresas. Adaptada a sus especifiaciones y requisitos. <a id="more" data-id="app" href="#">Leer más.</a></p>
				</article>
			</div>

			<div class="service">
				
				<article>
					<h3>Diseños Web</h3>
					<h5>SEO Marketing</h5>
					<figure>
						<img src="/media/img/Sites.png" width="100" />
					</figure>
					<p>Estamos a la vanguardia de las tecnologías y posicionamos su sistema en los primeros resultados de los buscadores mas importantes. <a id="more" data-id="marketing" href="#">Leer más.</a></p>
				</article>
			</div>

			<div class="service">
				
				<article>
					<h3>Mantenciones</h3>
					<h5>Mantención a su Sistema</h5>
					<figure>
						<img src="/media/img/Developer_Alternate.png" width="100" />
					</figure>
					<p>Soporte técnico a su sistema según las necesidades que tenga su empresa. <a id="more" data-id="mantencion" href="#">Leer más.</a></p>
				</article>
			</div>

			<div class="service">
				
				<article>
					<h3>¿ Tienes una Idea ?</h3>
					<h5>Soluciones TI</h5>
					<figure>
						<img src="/media/img/Developer.png" width="100" />
					</figure>
					<p>Desarrollo de Web en SmartPhones, Tablet y Desktop. Vea su sistema en cualquier dispositivo, en donde se encuentre. <a id="more" data-id="solucion" href="#">Leer más.</a></p>
				</article>
			</div>

			<hr />	
	</div>
	