	<div class="nosotrosPage">
		<article>
			<h1 class="page-title">Nosotros</h1>

			<div id="spacer1" class="spacer">
				<h3>Acerca de Madrid</h3>
			
				<p>Madrid es una empresa de servicios en el área de las TIC, especializada en el ámbito y el mundo de la web siguiendo los cánones que esta nos ofrece como los estándares de la W3C, incorporando con ingeniera en software y metodología de desarrollo dependiendo de las necesidades que existan en el momento para dar y ofrecer productos con una alta calidad para la satisfacción del usuario.</p>

			</div>

			<div class="verticalSpacer">
			</div>

			<div id="spacer2" class="spacer">
				<h3>Servicios Especializados</h3>
				
				<div style="display:inline-block;">

					<h4>FrontEnd</h4>
					<ul class="skills">
						<li>HTML5</li>
						<li>CSS3</li>
						<li>Javascript</li>
						<li>Jquery</li>
						<li>Jquery Mobile</li>
						<li>Ajax</li>
						<li>Json</li>
					</ul>

				</div>

				<hr />

				<div style="display:inline-block;">

					<h4>BackEnd</h4>
					<ul class="skills">
						<li>Django</li>
						<li>PHP</li>
						<li>MySQL</li>
						<li>Java</li>
						<li>Objective-c</li>
					</ul>

				</div>

				<hr />

				<div style="display:inline-block;">

					<h4>Diseño & Marketing</h4>
					<ul class="skills">
						<li>Photoshop</li>
						<li>SEO</li>
						<li>Google Analytics</li>
						<li>Responsive Design</li>
					</ul>
				
				</div>

			</div>

			<div id="spacer3" class="spacer">
				<h3>Misión</h3>
			
				<p>Desarrollar y mantener sistemas de calidad con los estándares internacionales necesarios para eficiencia y rentabilidad en función de nuestros clientes con alto niveles de confiabilidad e innovación en el ámbito de las TIC.</p>

			</div>

			<div id="spacer4" class="spacer">
				<h3>Visión</h3>
			
				<p>Ser la empresa líder de la región, con proyectos innovadores en función de la brecha digital y necesidades existente en el país.</p>

			</div>
			
		</article>
	</div>