	<div class="nosotrosPage">
		<article>
			<h1 class="page-title">BIO</h1>

			<div class="spacer" style="display:inline-block;vertical-align:top;width:50%; height: auto; overflow:hidden;">
				<h3 style="color:#00C618;">Acerca de Mi</h3>
			
				<p>Gracias por ingresar a mi rincón en la web, a estas alturas puede que sepa mi nombre, y si no lo sabe es Edgar F. Muñoz Madrid. Ingeniero en Informática. <br /> Mi principal ocupación es colaborar sobre la web de hoy, entre ellos, creando sistemas web a medida, utilizando y especializándome en diversos métodos y tecnologías que la misma nos ofrece, ya sea tomando cursos o investigando por iniciativa propias, así fue como comencé a integrar nuevas tecnologías como HTML5, CSS3, crear sistemas bajo la estructura de Django o PHP utilizando CodeIgniter</p>

			</div>

			<div style="display:inline-block; vertical-align: top; height: 38em;border-left:1px solid #f5bdab;margin: 0 1.5em;border-right:2px solid #FFFFFF;">
			</div>

			<div class="spacer" style="display:inline-block;vertical-align:top;width:42%; height: auto; overflow:hidden;">
				<h3 style="color:#00C618;">Habilidades</h3>
				
				<div style="display:inline-block;">

					<h4 style="color: #bababa;">FrontEnd</h4>
					<ul class="skills">
						<li>HTML5</li>
						<li>CSS3</li>
						<li>Javascript</li>
						<li>Jquery</li>
						<li>Jquery Mobile</li>
						<li>Ajax</li>
						<li>Json</li>
					</ul>

				</div>

				<hr />

				<div style="display:inline-block;">

					<h4 style="color: #bababa;">BackEnd</h4>
					<ul class="skills">
						<li>Django</li>
						<li>PHP</li>
						<li>MySQL</li>
						<li>Java</li>
						<li>Objective-c</li>
					</ul>

				</div>

				<hr />

				<div style="display:inline-block;">

					<h4 style="color: #bababa;">Diseño & Marketing</h4>
					<ul class="skills">
						<li>Photoshop</li>
						<li>SEO</li>
						<li>Google Analytics</li>
						<li>Responsive Design</li>
					</ul>
				
				</div>

			</div>

			<div class="spacer" style="display:inline-block;vertical-align:top;width:50%; height: auto; overflow:hidden; margin-top: -16em;">
				<h3 style="color:#00C618;">Educación</h3>
			
				<p>Mis estudios realizados de Ingeniería Civil en Informática, en la Universidad Tecnológica de Chile Inacap, me sirvieron de ayuda para conocer la web para luego complementarlos con diversos cursos y certificaciones en las nuevas tecnologías como lo es HTML5 o CSS3 en diferentes plataformas via online.</p><br />
				<p>Certificaciones FrontEnd y BackEnd en curso en la cual incluye javascript, node, HTML5, CSS3, Responsive Design y Django </p>

			</div>
			
		</article>
	</div>