	<div class="nosotrosPage">
		<article>
			<h1 class="page-title">BIO</h1>

			<div id="spacer1" class="spacer">
				<h3>Acerca de Mi</h3>
			
				<p>Gracias por ingresar a mi rincón en la web, a estas alturas puede que sepa mi nombre, y si no lo sabe es Edgar F. Muñoz Madrid. Ingeniero Informático. <br /> Mi principal ocupación es colaborar sobre el mundo online de hoy, entre ellos, creando sistemas web a medida, utilizando y especializándome en diversos métodos y tecnologías que la misma nos facilita, ya sea tomando cursos o investigando por iniciativa propias, así fue como comencé a integrar nuevas tecnologías como HTML5, CSS3, crear sistemas bajo la estructura de Django o PHP utilizando CodeIgniter</p>

			</div>

			<div class="verticalSpacer">
			</div>

			<div id="spacer2" class="spacer">
				<h3>Habilidades</h3>
				
				<div style="display:inline-block;">

					<h4>FrontEnd</h4>
					<ul class="skills">
						<li>HTML5</li>
						<li>CSS3</li>
						<li>Javascript</li>
						<li>Jquery</li>
						<li>Jquery Mobile</li>
						<li>Ajax</li>
						<li>Json</li>
					</ul>

				</div>

				<hr />

				<div style="display:inline-block;">

					<h4>BackEnd</h4>
					<ul class="skills">
						<li>Django</li>
						<li>PHP</li>
						<li>MySQL</li>
						<li>Java</li>
						<li>Objective-c</li>
					</ul>

				</div>

				<hr />

				<div style="display:inline-block;">

					<h4>Diseño & Marketing</h4>
					<ul class="skills">
						<li>Photoshop</li>
						<li>SEO</li>
						<li>Google Analytics</li>
						<li>Responsive Design</li>
					</ul>
				
				</div>

			</div>

			<div id="spacer3" class="spacer">
				<h3>Educación</h3>
			
				<p>Mis estudios realizados de Ingeniería Civil en Informática, en la Universidad Tecnológica de Chile Inacap, me sirvieron de ayuda para conocer la internet para luego complementarlos con diversos cursos y certificaciones en la mejoras que nos ofrece este mundo situado en la nube como en los avances de HTML o CSS en diferentes plataformas via online.</p><br />
				<p>Certificaciones FrontEnd y BackEnd en curso en la cual incluye gran parte de mis habilidades</p>

			</div>
			
		</article>
	</div>