	<div class="proyectosPage">

		<h1 class="page-title">Proyectos</h1>

		<section>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://themadrid.cl/static/media/img/foodmovil.png" width="350" height="112" alt="Proyecto FoodMovil para desktop" />
						</div>
						
						<p class="nameProyect">Foodmovil</p>
						<p class="corporation">Personal</p>
					</div>
				</div>
			</figure>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://themadrid.cl/static/media/img/foodmovil_movil.png" width="350" height="112" alt="Proyecto FoodMovil para Smartphone" />
						</div>
						
						<p class="nameProyect">Foodmovil Mobile</p>
						<p class="corporation">Personal</p>
					</div>
				</div>
			</figure>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://themadrid.cl/static/media/img/davila.png" width="350" height="112" alt="Presupuesto en clinica davila" />
						</div>
						
						<p class="nameProyect">Presupuesto Dávila</p>
						<p class="corporation">Clinica Dávila</p>
					</div>
				</div>
			</figure>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://themadrid.cl/static/media/img/intellego.png" width="350" height="112" alt="Desarrollo de sistemas en info2000" />
						</div>
						
						<p class="nameProyect">Proyectos para Intellego</p>
						<p class="corporation">Info 2000</p>
					</div>
				</div>
			</figure>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://themadrid.cl/static/media/img/netred.png" width="350" height="112" alt="Desarrollo de aplicaciones en netred" />
						</div>
						
						<p class="nameProyect">Proyectos para Netred</p>
						<p class="corporation">Netred</p>
					</div>
				</div>
			</figure>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://themadrid.cl/static/media/img/altopiedraazul.png" width="350" height="112" alt="Proyecto de alto piedra azul" />
						</div>
						
						<p class="nameProyect">Alto Piedra Azul</p>
						<p class="corporation">Alto Piedra</p>
					</div>
				</div>
			</figure>

			<figure>
				<div>
					<div>
						<div>
							<img id="proyectImage" src="http://www.contabilidadjm.cl/static/img/logo.png" width="350" height="112" alt="ContabilidadJM" />
						</div>
						
						<p class="nameProyect">Contabilidad</p>
						<p class="corporation">Contabilidad Jose Muñoz</p>
					</div>
				</div>
			</figure>

		</section>

	</div>