	<div class="serviciosPage">

		<h1 class="page-title">Servicios</h1>
		
		{% if active == 'app' %}
			{% include "contenido/servicios/aplicaciones.html" %}
		{% elif active == 'mantencion' %}
			{% include "contenido/servicios/mantencion.html" %}
		{% elif active == 'marketing' %}
			{% include "contenido/servicios/marketing.html" %}
		{% elif active == 'solucion' %}
			{% include "contenido/servicios/solucion.html" %}
		{% else %}
			{% include "contenido/servicios/aplicaciones.html" %}
		{% endif %}
		
		<span>
			<a href="/contacto#formularioContacto" title="Contacto">¿Tienes una idea? ¡Contáctame!</a>
		</span>

	</div>