
		<div id="app" class="">
			<h3 class="page-title" style="color: #00C618;">Aplicaciones Web</h3>
			<h4 class="page-title" style="color: #ea8469;">Desarrollos a medida</h4>
			<p>Hoy en día la web crece como la espuma , cada día mas sitios, más publicaciones y más contenido para los usuarios.  Las cuales tienen un factor común, la “web”. Todos estos sistemas online nos permiten estar conectados de  distintas manera, que va desde un computador de escritorio hasta un Smartphone y desde la oficina o en algún medio de transporte, en la cual cada uno de estos sistemas que son trajes y están diseñados a  su medida y a sus determinadas necesidades.</p>
			<br />
			<p> Si Ud. Desea un sistema interno o  una aplicación para público en general que quiera compartir con redes sociales como lo es Facebook o Twitter lo puede realizar con las mejores metodologías en base a planificaciones en pro de su sistema</p>
			<br />
			<p>Todo esto se desarrolla en base a las mejores y últimas tecnologías que nos entrega el mundo del desarrollo web,  con una facilidad de uso o interfaces intuitivas, desarrollos agiles y ordenados. Para que Ud. También tenga un mejor control sobre su futuro proyecto.</p>

		</div>
