
		<div id="mantencion" class="">
			<h3 class="page-title" style="color: #00C618;">Mantenciones</h3>
			<h4 class="page-title" style="color: #ea8469;">Mantención a su Sistema</h4>
			<p>Hoy en día todas las empresas deben estar en la web, y parte de ello es realizar una mantención periódica de su sistema, las cuales van creciendo y requieren de modificaciones  o mejoras en sus módulos, ya que cada parte de su sistema es importante, también es vital para el buen funcionamiento y estabilidad de la misma.</p>
			<br />
			<p>Debido a que estos son el centro de la empresa  deben estar vigentes y realizar mantenciones periódicas que incluyen desarrollo de nuevos módulos, mejoras en los módulos, cambios en la arquitectura de la misma según sean los requerimientos  o necesidades que desea satisfacer.</p>
			
		</div>
