
		<div id="marketing" class="">
			<h3 class="page-title" style="color: #00C618;">Diseños Web</h3>
			<h4 class="page-title" style="color: #ea8469;">Seo Marketing</h4>
			<p>Cada día hay mas sitios en internet y todos quieren ser mostrados a su público, para ellos se debe implementar una estrategia digital, marketing o SEO, ya que con esta tecnología de optimización de su sistema web, permitirá y posicionará su sistema en los primeros resultados en los motores de búsqueda (Google, Yahoo, Bing, etc.), los cuales pueden ser monitoreados a través de herramientas que la misma nos ofrece como lo Google Analytics. A través de campañas en la web con Google Adwords o en redes sociales.</p>
			<br />
			<p>El diseño es muy importante en vista de sus usuarios, ya que experimenta una navegación agradable y placentera con una arquitectura de interfaces intuitivas para el usuario en diversos dispositivos como Smartphone, Tablet, notebooks, etc.</p>
			
		</div>
