		<div id="solucion" class="">
			<h3 class="page-title" style="color: #00C618;">¿ Tienes una idea ?</h3>
			<h4 class="page-title" style="color: #ea8469;">Soluciones TI</h4>
			<p>Todo el mundo está o quiere estar en la web, ya sea en redes sociales o blogs, pero mucha de ellas quieren tener un rincón propio, ya sea con una página web, aplicación para Smartphone, para público en general exponiendo contenidos o un sistema de control interno para su empresa.</p>  
			<br />
			<p>Si desea realizar un proyecto  o tiene alguna idea,  lo puede realizar con metodologías agiles y con el feedback necesario para que pueda tener control sobre su proyecto,  el cual permitirá mejorar o madurar su idea inicial, trabajando a la par con las personas encargadas del desarrollo  de la misma.</p>
			
		</div>

