		</div><!-- #main end -->
	
	</div><!-- .content end -->

<footer role="contentinfo" class="clearfix" id="footer"><!-- #footer start -->
	
		<div id="inner-footer" class="clearfix"><!-- #inner-footer start -->
	
			<p>Copyright © MADRID 2013 | Todos los derechos reservados | Santiago de Chile | <a href="#">Políticas de Seguridad</a> | <a href="#">Términos de uso</a> </p>
		
		</div><!-- #inner-footer end -->
		
	</footer><!-- #footer end -->
	
	
	<script>
	// iOS scale bug fix
	MBP.scaleFix();
	
	// Respond.js
	yepnope({
		test : Modernizr.mq('(only all)'),
		nope : ['/media/js/libs/respond.min.js']
	});
	</script>
	
	<!-- Google analytics -->
	<!-- http://mths.be/aab -->
	<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>

</html>