		</div><!-- #main end -->
	
	</div><!-- .content end -->

<footer role="contentinfo" class="clearfix" id="footer"><!-- #footer start -->
	
		<div id="inner-footer" class="clearfix"><!-- #inner-footer start -->
	
			<p>Copyright © MADRID 2013 | Todos los derechos reservados | Santiago de Chile | <a href="#" title="Politicas">Políticas de Seguridad</a> | <a href="#" title="Terminos de uso">Términos de uso</a> </p>
		
		</div><!-- #inner-footer end -->
		
	</footer><!-- #footer end -->
	
	
	<script>
	// iOS scale bug fix
	MBP.scaleFix();
	
	// Respond.js
	yepnope({
		test : Modernizr.mq('(only all)'),
		nope : ['http://www.themadrid.cl/static/media/js/libs/respond.min.js']
	});
	</script>
	
<script>
	var current = "{{current}}";
	changeClass(current);
</script>

</body>

</html>