<!doctype html>

<html lang="es">

<head>

	<meta charset="utf-8" />
	
	<title>Title</title>
	
	<link rel="stylesheet" type="text/css" href='/media/css/style.css' />
	<link rel="stylesheet" type="text/css" href="/media/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/typography.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/form.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/steelshet.css" />
	<link rel="stylesheet" type="text/css" href="/media/library/fancybox/source/jquery.fancybox.css?v=2.1.4">
	

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript">
	</script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript">
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
	</script>

	<!-- JavaScript -->
	<script src="/media/js/jsFunctions.js"></script>
	<script src="/media/js/libs/modernizr-2.0.6.min.js"></script>
	<script src="/media/js/plugins.js"></script>
	<script src="/media/js/script.js"></script>
	<script src="/media/js/mylibs/helper.js"></script>
	<script src="/media/library/fancybox/source/jquery.fancybox.pack.js"></script>

</head>

<body onload="" class="clearfix">
<div class="line-top"></div>
	<header role="banner" id="header"><!-- #header start -->
	
		<div id="inner-header" class="clearfix"><!-- #inner-header start -->

			<div class="social_media">
				<figure>
					<a href="#"><img src="/media/img/facebook.png" title="facebook" width="50" /></a>
				</figure>
				<figure>
					<a href="https://twitter.com/TheMadrid16" target="_blank"><img src="/media/img/Twitter.png" title="twitter" width="50" /></a>
				</figure>
				<figure>
					<a href="http://www.linkedin.com/pub/edgar-mu%C3%B1oz-madrid/52/559/19b" target="_blank"><img src="/media/img/linkedin.png" title="linkedin" width="50" /></a>
				</figure>
			</div>
			<!-- Site title -->
			<a href="#" title="Title"><img src="/media/img/logo.png" width="300"></a>
			
			<!-- Site tagline -->
			<p>Edgar F. Muñoz Madrid</p>
		
		</div><!-- #inner-header end -->
		<!-- navigation -->
		<nav role="navigation" id="navigation" class="clearfix"><!-- #navigation start -->
			<ul class="level-one">
	
				<li><a id="inicio" href="#" title="Inicio" class="current">Inicio</a>
				</li>
			<!-- New submenu level -->
							
				<li><a id="nosotros" href="#" title="Nosotros" class="link">Nosotros</a>	
				</li>

				<li><a id="proyectos" href="#" title="Proyectos" class="link">Proyectos</a>	
				</li>

				<li><a id="servicios" href="#" title="Servicios" class="link parent">Servicios</a>	
					<ul id="list-service" style="display:none;">
						<li><a id="app" href="#" class="link">Aplicaciones Web</a></li>
						<li><a id="marketing" href="#" class="link">Marketing Digital</a></li>
						<li><a id="mantencion" href="#" class="link">Mantenciones de Sistemas</a></li>
						<li><a id="solucion" href="#" class="link">Soluciones TI</a></li>
					</ul>
				</li>

				<li><a id="contacto" href="#" title="Contacto" class="link">Contacto</a>	
				</li>				
				
			</ul>
		</nav><!-- #navigation end -->
		
	</header><!-- #header end -->
	
	<div id="content" class="clearfix"><!-- #content start -->
	
		<div id="main" role="main" class="clearfix"><!-- #main start -->